# Define the max number of jobs. Care must be taken, a too high value could
#   cause an out of memory error.
#max_jobs=8

# If cpp_compiler or c_compiler are defined, then the script will use
#   the given compiler, rather than the default PATH compiler.
#cpp_compiler=clang++
#c_compiler=clang
#cpp_compiler=g++
#c_compiler=gcc
